<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="human" class="cn.xutingyin.entity.Human">
        <property name="name" value="susan"/>
        <property name="age" value="22"/>
        <property name="sex" value="男"/>
    </bean>
    <bean id="a" class="cn.xutingyin.entity.A" scope="singleton">
        <!--        <constructor-arg name="b" ref="b"/>-->
        <property name="b" ref="b"/>
    </bean>
    <bean id="b" class="cn.xutingyin.entity.B" scope="singleton">
        <!--        <constructor-arg name="c" ref="c"/>-->
        <property name="c" ref="c"/>
    </bean>
    <bean id="c" class="cn.xutingyin.entity.C" scope="singleton">
        <!--        <constructor-arg name="a" ref="a"/>-->
        <property name="a" ref="a"/>
    </bean>
</beans>